# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [39]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest as ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [52]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [41]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [53]:
salaries.info

<bound method DataFrame.info of                         Name                              Job Titles  \
0          AARON,  JEFFERY M                                SERGEANT
1            AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2        AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3        ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4          ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY
...                      ...                                     ...
33178  ZYLINSKA,  KATARZYNA                           POLICE OFFICER
33179     ZYMANTAS,  LAURA C                          POLICE OFFICER
33180      ZYMANTAS,  MARK E                          POLICE OFFICER
33181    ZYRKOWSKI,  CARLO E                          POLICE OFFICER
33182   ZYSKOWSKI,  DARIUSZ                  CHIEF DATA BASE ANALYST

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
0                POLICE                 F           Salary            NaN
1                POLICE                 F           Salary            NaN
2      GENERAL SERVICES                 F           Salary            NaN
3           WATER MGMNT                 F           Salary            NaN
4                  OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33178            POLICE                 F           Salary            NaN
33179            POLICE                 F           Salary            NaN
33180            POLICE                 F           Salary            NaN
33181            POLICE                 F           Salary            NaN
33182              DoIT                 F           Salary            NaN

       Annual Salary  Hourly Rate
0           101442.0          NaN
1            94122.0          NaN
2           101592.0          NaN
3           110064.0          NaN
4                NaN        19.86
...              ...          ...
33178        72510.0          NaN
33179        48078.0          NaN
33180        90024.0          NaN
33181        93354.0          NaN
33182       115932.0          NaN

[33183 rows x 8 columns]>

In [54]:
salaries.size

265464

In [55]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
# Filter for salaried employees (where 'Annual Salary' is not null)
salaried_workers = salaries[salaries['Annual Salary'].notnull()]

# Calculate the mean annual salary
mean_annual_salary = np.mean(salaried_workers['Annual Salary'])

# Calculate the standard error of the mean for annual salary
sem_annual_salary = stats.sem(salaried_workers['Annual Salary'])

# Degrees of freedom: number of observations - 1
n_salaried = len(salaried_workers)
df_salaried = n_salaried - 1

# Calculate the 95% confidence interval for the mean annual salary
confidence_interval_salary = stats.t.interval(0.95, df_salaried, loc=mean_annual_salary, scale=sem_annual_salary)

confidence_interval_salary

(86526.99656774187, 87047.00301256099)

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [61]:
# Sample 100 salaried workers randomly
sampled_salaried_workers = salaried_workers.sample(n=100, random_state=42)

# Calculate the mean annual salary for the sample
mean_annual_salary_sample = np.mean(sampled_salaried_workers['Annual Salary'])

# Calculate the standard error of the mean for the sample
sem_annual_salary_sample = stats.sem(sampled_salaried_workers['Annual Salary'])

# Degrees of freedom for the sample: number of observations - 1
n_sample = len(sampled_salaried_workers)
df_sample = n_sample - 1

# Calculate the 95% confidence interval for the mean annual salary for the sample
confidence_interval_sample = stats.t.interval(0.95, df_sample, loc=mean_annual_salary_sample, scale=sem_annual_salary_sample)

confidence_interval_sample

(78577.09641846328, 86060.23238153671)